/* --------------------------------- Root Rules--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400&family=Noto+Sans:wght@400;500;600;700&display=swap');

:root{
  /* Colors */
    --dark-text: #4E4A4A;
    --light-text: #fff;
    --secondary-color:#EFDE6A;
    --third-color: #73C14A;
    --border-container: #2a5f31;
    --dark-orange-color: #D7c22E;
  /* Font sizes */
    --font-sx: 1.4rem ;
    --font-s: 1.6rem ;
    --font-m:2.4rem ;
    --font-l: 3.2rem ;
    --font-xl: 3.6rem ; 
  
  /* Spac4remes */
    --space-xs: 12px;
    --space-s:  24px;
    --space-m:  48px;
    --space-l:  96px;
}

html, body {
  font-size: 62.5%; /* permet de ramener la taille par défaut à 10px (10 / 16 = 0.625) */
}

* {
  padding: 0;
  margin: 0;
  font-family: montserrat;
  font-size: var(--font-s);
}

h1, h2, h3 {
  font-family: 'noto sans';
}

p{
  line-height: 3rem;
}


/* --------------------------------- Root Rules --------------------------------- */


/* --------------------------------- LOGO IG ------------------------------- */
.logoIGexpo {
  /* max-width: 180px;
  max-height: 80px; */
  height:100%;
  max-width: auto;
 }
/* --------------------------------- LOGO IG ------------------------------- */


/* --------------------------------- NavBar ------------------------------- */
header {
  width: 100%;
  height: 100vh;
}

nav{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 80px;
  margin: auto;
  background-color:var(--light-text); 
  gap: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
}

ul{
  list-style: none;
  display: flex;
  gap: 5vw;
  justify-content:center;
  align-items: center;
  justify-items: center;
}

li a{
  text-decoration: none;
  color: var(--dark-text);
  text-transform: uppercase;
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

a {
  vertical-align: middle;
  align-items: center;
}

nav ul li a {
  font-family: 'noto sans';
  font-weight: 500;
  font-size: var(--font-s); 
  align-items: center;
  justify-items: center;
  color: var(--dark-text);
}
/* --------------------------------- NavBar ------------------------------- */

/* --------------------------------- User Icon ------------------------------- */
.userIcon {
  max-width: 5vw;
  max-height: 5vh;
}
/* --------------------------------- User Icon ------------------------------- */

/* --------------------------------- IMG Landing ------------------------------- */
.landing{
  height: calc(100% - 100px);
  background-color: #4E4A4A;
  display: flex;
}

.bgImage{
  width: 100%;
  height: 100%;
  position: relative;
}
/* --------------------------------- IMG Landing ------------------------------- */


/* --------------------------------- Landing page Text ------------------------------- */
.excerptHeader {
  font-size: var(--font-xl);
  max-width: 50rem;
  height: auto;
  position: absolute;
  left: 30%; /* Mise en place de l'alignement au centre */
  transform: translateX(-50%); /* Correction de l'offset provoqué par la 
  /* 
  left: 10rem; */
  font-size: var(--font-xl);
  bottom: 2rem;
}

.boldGreen {
  font-weight: bold;
  color:var(--third-color);
  font-size: var(--font-xl);
}
/* --------------------------------- Landing page Text ------------------------------- */


/* --------------------------------- Card Gobal Rules ------------------------------- */
.card {
  height: 100vh;
}

.headerCards{
  border: solid 0.3rem var(--border-container);
  min-height: 10rem;
  z-index: 10;
  margin: 25px 0px;
  display: flex;
  margin: 0;
}

.insideTitleCard{
  text-align: center;
  width: auto;
  margin: auto;
  display: flex;
  align-items: center;
  align-self: center;
}

.titleCard {
  margin: 0;
  padding: 0;
  font-size:var(--font-xl);
  font-weight: bold;
}

.logoTitleCard {
  float: right;
} 

.contentCard{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2.5rem 10rem;
  height: 80%;
}

.rightSide .leftSide {
  display: flex;
  align-items: center;
  height: auto;
}
/* --------------------------------- Card Global Rules ------------------------------- */


.headerCardConstruct{
  background-color: var(--third-color);
} 

#logoNaturePlus{
  display: flex;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.containerExcerpt {
  max-width: 80%;
  margin: 1.5rem  auto;

}

p.excerptCardContent{
  justify-content: center;
  width: auto;
  /* margin: 2rem 0rem;
  padding: 1rem 0rem; */
}


.imageCard {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: auto;
}

.headerCardImprim{
  background-color: var(--dark-orange-color);
} 

.iconLeaf {
  margin-left: 10px;
}

#listImprim{
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.contentList {
  display: flex;
  margin-bottom: 2rem;
}

.numero {
  max-width: 50px;
  max-height: 50px;
  margin-right: 2%;
}

#photoStandsImprime{
  padding-bottom: 10px;
  display: flex;
  margin: auto;
  max-height: 80%;
  max-width: 80%;
}

#labelImprimVert {
  display: flex ;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}


.headerCardReemploi{
  background-color: var(--light-text);
} 

.excerptCardContent{
  align-items: center;
  vertical-align: middle;
}


/*    BANDEAU TRY        */

 .tryItArticle{
  width: 100%;
  position: relative;
  display: flex;   
  justify-content: center;
  align-items: center;
}

.ImgBandeauTry{
  width: 100%;
}

.tryItContent{
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #4E4A4A;
}

.tryItTitle{
  color:var(--light-text);
  font-size: var(--font-xl);
  position: relative;
  line-height: 2rem;
}

.tryItTitle::before {
  content: ""; /* aucun contenu, simplement un élément de style */
  position: absolute; /* permet de positionner l'élément de style par rapport à h1 *//* aligne l'élément de style sur la gauche du titre */ /* positionne l'élément de style au milieu du titre en hauteur */
  width: 50%; /* la largeur de l'élément de style couvre la moitié du titre */
  border-bottom: 5px solid #D7c22E;; /* ajoute une bordure en dessous de l'élément de style */
  margin-top: 15px;

}


/* 
.yellowLine {
  border-top: 5px solid var(--secondary-color);
  width: 20%;
  height: 15px ;
} */

.tryItButton {
  background-color: var(--light-text);
  border-radius: 70px;
}

.buttonTryIt {
  font-size: var(--font-l);
  text-align: center;
  justify-content: center;
}

button {
  text-decoration: none;
  color: var(--third-color);
  font-family: 'Noto Sans';
  height: 10rem;
  width: 45rem;
}

h2 a {
  text-decoration: none;
  color: var(--third-color);
}




/* FOOTER  */
footer {
  margin: 0;
  margin-top: 50px;
  height: 10rem;
  display: flex;
  margin-top: 5rem;
  height: 10rem;
  background: linear-gradient(
    180deg,
    #73c14a 3.75%,
    #82c341 36.04%,
    #82c341 69.38%,
    #aed35f
  );
}

.footerContent{
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  gap: 25%;
  width: 100%;
  padding: 0% 10%;
}

.contentExcerptFooter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.excerptFooter {
  color: var(--light-text);
  height: auto;
}